.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs_list {
    padding: 10px;
}

.dialogs_list .active{
    color: darksalmon;
}

.dialogs_messages {
    padding: 10px;
}


