.wrapper{
    min-height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header header"
    "aside main";
}


.wrapper_content{
    grid-area: main;
    background-color: aqua;
}